.filter {
    display: none;
}

.filter__item {
    background-color: white;
    border-radius: 20px;
    color: var(--gray-text);
    cursor: pointer;
    font-size: 16px;
    padding: 8px 20px;
}

.filter__item:hover {
    background-color: var(--dark-blue);
    color: white;
    transition: .5s;
}

@media screen and (min-width: 1105px) {
    
    .filter {
        align-items: center;
        background-color: var(--light-blue);
        border-bottom: var(--mediuim-blue) 1px solid;
        border-top: var(--mediuim-blue) 1px solid;
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        gap: 10px; /* espaçamento entre itens */
        justify-content: space-evenly;
        left: 82px;
        padding: 20px 10px;
        padding-left: 10%;
        padding-right: 10%;
        width: auto;
        white-space: nowrap;        
    }
}

@media(min-width: 1440px) {

    .filter {
        left: 247px;
    }
    
}