.footer {
    background-color: white;
    color: var(--gray-text);
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap;*/
    flex-flow: column wrap;
    font-size: 16px;
    height: 875px;
    line-height: 1.5;
}

.footer__title {
    color: var(--medium-blue);
    font-weight: bold;
    padding: 10px 0 20px 0;
}

@media(min-width: 834px) {

    .footer {
        height: 420px;
        justify-content: space-between;
    }

}

@media(min-width: 1440px) {

    .footer {
        height: 225px;
    }

}