.search {
    display: none;
    position: fixed;
    top: 80px;
    background-color: #F9F9F9;
    padding: 3%;
    left: 0;
    justify-content: center;
    width: 100vw;
}

.search__input,
.search__button {
    border: 1px solid rgb(211, 211, 211);
}
    
.search__input {
    font-size: 16px;
    height: 40px;
    padding: 3px 8px;
}

.search__button,
.search__audio {
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px 18px 5px;
    width: 40px;
}

.search__button {
    background-image: url(../../../../imgs/header/search/search.png);
    background-color: #F9F9F9;
    border-left: none;
    cursor: pointer;
}

.search__audio {
    background-image: url(../../../../imgs/header/search/mic.png);
    margin-left: 20px;
}

@media screen and (min-width: 768px) {

    .search {
        display: flex;
        position: static;
        background-color: transparent;
        padding: 0;
    }

    .search__input {
        width: 260px;
    }
}